.top-nav {
    display: inline;
}

/*Edit for width of backgroung icon in Left navbar*/
ul.sidebar-menu span.icon-box {
    margin-right: 0px;
}
#sidebar > ul > li a i {
    margin-left: -15px;
}
li [class^="icon-"], li [class*=" icon-"] {
    width: 0.2em;
}

.shop-name {
    padding-top: 15px;
    font-size: 40px;
    display: inline-block;
    color: #DFDF09;
}

.form-group {
    padding: 2px 0px;
}

select, .form-group input, .form-group input[type="text"] {
    border-radius: 3px;
}

#theme-change {
    top: 60px;
}
/***************************************/
/*Style for error notify*/
.error {
    color: #CF1212;
    /*display: inline-block;*/
}

.error-input {
    border: 1px solid #CF1212;
}


table thead th {
    vertical-align: top;
}

.button-a {
/*    border: 2px solid #93a1a1;
    border-radius: 5px; */
    padding: 5px;
    color: #93a1a1;
}

.edit-button {
    /*background-color: #009688;*/
    color: #009688;
    font-size: 24px;
}

.edit-button:hover {
    /*background-color: #37C65E;*/
    color: #37C65E;
}

.delete-button {
/*        background-color: #bb2417;
        padding: 5px 20px;*/
    color: #bb2417;
    font-size: 24px;
}

.delete-button:hover {
    /*background-color: #Fb4437;*/
    color: #Fb4437;
}


.button-a:hover, .button-a:active, .button-a:focus {
    cursor: pointer !important;
    text-decoration: none;
    /*color: #EEEEEE;*/
}

.page {
    display: inline-block;
    width: 20px;
    text-align: center;
    padding: 5px;
    border: 1px solid #009688;
    border-radius: 50%;
    margin: 0px 5px;
}

.page-direct {
    display: inline-block;
    width: 20px;
    text-align: center;
    font-weight: bold;
    padding: 5px;
    border: 1px solid #009688;
    border-radius: 3px;
    margin: 0px 5px;
}

.page-active {
    background-color: #009688;
    color: #FFFFFF;
    font-weight: bold;
}



