.picture{
    width: 100%; 
}
.imagess{
    height: 95%;
    width: 85%;
    margin-left: 10%;
    margin-top: 3%;
    border: 1px solid #90897c;
}
.infomation{
    width: 100%;
    margin-left: 10%;
   
}
.name{
    font-family: sans-serif;
    font-size: 12 px;
}
.pr_price{
    margin-top: 5%;
    
}
.quantity{
    margin-top: 5%;
}
.buttons{
    margin-top: 5%;
}

.button{
    height: 50%;
    width: 70%;
}

.image_pr{
    height: 40%;
    width: 80%; 
    border: 1px solid #90897c;
    margin-top: 20%;
}

.product-same{
    margin-top: 10%;
}
.product-same{
    margin-top: 5%; 
    border-top:5px solid #90897c;
}
.text_promotion{
    margin-left: 45%;
    margin-top: 5%;
    margin-bottom: 20%;
      
}
