.top-nav {
	display: inline;
}

/*Edit for width of backgroung icon in Left navbar*/
ul.sidebar-menu span.icon-box {
	margin-right: 0px;
}
#sidebar > ul > li a i {
	margin-left: -15px;
}
li [class^="icon-"], li [class*=" icon-"] {
	width: 0.2em;
}

.shop-name {
	padding-top: 15px;
	font-size: 40px;
	display: inline-block;
	color: #DFDF09;
}

.form-group {
    padding: 5px 0px;
}

.form-group input[type="text"] {
    border-radius: 3px;
}